<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Oscillo</string>
	<key>CFBundleExecutable</key>
	<string>OscilloMac</string>
	<key>CFBundleIdentifier</key>
	<string>com.zachyzissou.oscillo.native.mac</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Oscillo</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.9</string>
	<key>CFBundleVersion</key>
	<string>10</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.music</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Oscillo uses microphone input to drive real-time audio-reactive visuals.</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://github.com/zachyzissou/Oscillo/releases/latest/download/oscillo-appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>uNFkgAKuoZBfQZT4YWBKbEJCZX8IDdUnk8Gwdkiv0xw=</string>
</dict>
</plist>
